ol.breadcrumb
	li.breadcrumb-item 
		a(href='/') Of-Course
	li.breadcrumb-item 
		a(href='/UCSD') UCSD
	li.breadcrumb-item.active {{courseAbbreviation}}


// search bar 
//form
	div.form-group
		div.input-group
			div.input-group-addon
				i.glyphicon.glyphicon-search
			input.form-control(type='text', name='search', placeholder='Search classes...', ng-model='courseFilter')

//div.input-group
	input.form-control(type='text', name='search', placeholder='Search classes...')
	div.input-group-btn
		button.btn.btn-default(type='submit')
			i.glyphicon.glyphicon-search

// test word cloud
div
	canvas#canvas
button.btn.btn-warning(ng-click='wordCloud()') WordCloud

// new comment box
div.form-control.new-comment
		textarea.comment(placeholder='Enter your thoughts about {{courseAbbreviation}}...' ng-model="commentText")
		button#comment-button.btn.btn-primary.pull-right(ng-click="makePost()") Post

// list of posts
div#post-list(style='margin-bottom: 80px')
	div(ng-repeat='post in postList')
		div.row(ng-show='post.post')
			div.pull-left.post-list-item
				p.post-text {{post.post}}
			div.pull-right
				span.glyphicon.glyphicon-chevron-up(ng-click="upvote($index,post._id)"
				ng-style="upvoteStyles[$index]")
				h6 {{post.vote}}
				span.glyphicon.glyphicon-chevron-down(ng-click="downvote($index,post._id)"
				ng-style="downvoteStyles[$index]")
				div
				button.btn.btn-primary(type="button" ng-click='replyToComment($index)') Reply
		hr

		div.subcomment-list(ng-show='post.subcomments.length && post.post') 
			h6(ng-click='expandSubComments($index)', ng-hide='expandedSubComments[$index]', style='margin-left: 50px;') More replies
			hr(ng-hide='expandedSubComments[$index]')
			ul(ng-show='expandedSubComments[$index]', style='list-style:none; margin-left: 30px')
				li(ng-repeat='subcomment in post.subcomments') 
					div.row
						div.pull-left {{ subcomment.subcomment }}
								div.pull-right
						div.pull-right
							span.glyphicon.glyphicon-chevron-up(ng-click="subUpvote($parent.$index,$index,subcomment._id)" ng-style="subUpvoteStyles[$parent.$index - 1][$index]")
							h6 {{ post.subvotes[$index].subvote }}
							span.glyphicon.glyphicon-chevron-down(ng-click="subDownvote($parent.$index,$index,subcomment._id)" ng-style="subDownvoteStyles[$parent.$index - 1][$index]") 
					hr

		div.new-reply(ng-show='replyBoxes[$index] && post.post')
			div.form-control.new-comment(style='margin-bottom:50px')
				textarea.comment(placeholder='Type in a reply here...', ng-model='reply.text') 
				button.btn.btn-primary(type="button" ng-click='makeSubPost($index)') Reply or Post
				button.btn.btn-success(ng-click='cancelReply($index)') Cancel
		hr
