div.row#landing-main-row
    div.col-lg-4
    div.col-lg-4#landing-center-col
      h1.leckerli-font#landing-title Of Course
      h2.leckerli-font#landing-motto More than just a rating
      div.dropdown
        a(href="/UCSD")
          div#homebutton.leckerli-font(type="button") UCSD 