ol.breadcrumb
	li.breadcrumb-item 
		a(href='/') Of-Course
	li.breadcrumb-item.active UCSD

form
	div.form-group
		div.input-group
			div.input-group-addon
				i.glyphicon.glyphicon-search
			input.form-control(type='text', name='search', placeholder='Search classes...', ng-model='courseFilter')

div.list-group
	a.list-group-item(ng-repeat='class in courseList | filter:courseFilter | limitTo:quantity', href='/UCSD/{{class}}') {{class}}
	div.list-group-item(ng-click='loadMore()') load more courses...