/****************/
/* layout stuff */
/****************/

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

html{
    height: 0%;
    background-color: #6eb5c0; /*wall*/
    /*background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-441390.jpg);
    background-size: cover;*/
}

body {
  height: 100%;   
  background-color: #4a93d8;
}

header{
    background-color: #3b5998;
    height: 100%;
    width: 100%;
}

footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width:100%;
    padding: 3px;
    background-color: #6eb5c0;
    /*background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-441390.jpg);*/
    text-align: center;
}

hr{
  border-width: 69px;
}

.navbar {
    background-color:#6eb5c0; /*wall*/
    /*background-color: transparent;
    background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-441390.jpg);*/
    margin-bottom: 35px;
    border-bottom: 2px solid white;
}

.navbar-brand {
    color:white; 
    border-bottom: 2px solid white;
    font-family:'Poiret One', cursive;
    font-weight: 900;
}

.footer-text {
    color: white;
}

.breadcrumb {
    margin-top: 60px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: "trebuchet ms", "lucida grande", "lucida sans unicode", "lucida sans", tahoma, sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: transparent;
    background-color: #6eb5c0;/*wall*/
    /*background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-441390.jpg);
    background-size: cover;*/
}
/*****************/
/* end of layout */
/*****************/

/*********************/
/* landing/home page */
/*********************/
.leckerli-font {
    font-family: 'Poiret One' , cursive;
    color: white;
    font-weight: 900;
}

#homebutton {
  position: relative;
  left: 37.5%;
  border : 2px solid white;
  padding: 12px;
  /*margin: 10px;*/
  margin-bottom: 10px;
  margin-top: 10px;
  width: 25%;

  text-align: center;
}

.black-font {
    color: black;
}
.btn {
  background-color: transparent;
}

#landing-center-col {
    text-align: center;
}

#landing-main-row {
    position: relative;
    top: 150px;
}

#landing-title {
    position: relative;
    left: 20%;
    font-size: 40px;
    padding: 5px;
    width: 60%;
}

#border-line {
  position: relative;
  left: 32.5%;
  border-top: 2px solid white;
  width: 35%;
}

#landing-motto {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 20px;
}

div.dropdown a button.leckerli-font {
    height: 50px;
    width: 140px;
}

a {
  color: #00b7ff;
} 

.dropdown a:hover {
  text-decoration: none;
}

/****************************/
/* end of landing/home page */
/****************************/

/*************/
/* ucsd page */
/*************/

ol li a:hover {
  text-decoration: none;
}

div.list-group {
  margin-bottom: 70px;
  border-color: black;
  font-family: "trebuchet ms", "lucida grande", "lucida sans unicode", "lucida sans", tahoma, sans-serif;
}

.input-group-addon {
  border-bottom-left-radius: 0;
}

#search-bar {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/********************/
/* end of ucsd page */
/********************/

/***************/
/* course page */
/***************/

#canvas {
  margin-left: auto;
  margin-right: auto; 
  padding-left: 0px;
  padding-right: 0px;
  display: block;
  width: 330px;
}

#empty-canvas {
  border: solid 3px white; 
  text-align:center;
  line-height:165px;
  width:330px;
  height:165px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

#wordcloud-btn {
  margin-left: auto;
  margin-right: auto; 
  display: block;
}

div.new-comment {
    height: 6em;
    margin-top: 12px;
    position: relative;
    padding: 0px;
}
div.post-object {
  border-color : #a6a6a6;
  background-color: white;
  padding: 30px;
  margin : 10px;
}

.comment {
    outline: none;
    resize: none;
    padding: 10px;
    height: 100%;
    width: 100%;
    border: none;
    font-family: "trebuchet ms", "lucida grande", "lucida sans unicode", "lucida sans", tahoma, sans-serif;
}

#comment-button {
    height: 100%;
    position: absolute;
    right:0px;
}


.post-list-item {
    padding-left: 25px;
}

.post-text {
    width: 60%;
    font-family: "trebuchet ms", "lucida grande", "lucida sans unicode", "lucida sans", tahoma, sans-serif;
}

.voting-buttons {
    text-align: center;
}

#post-list {
  padding-bottom: 44px;
  margin-bottom: 80px;
}
.glyphicon-chevron-up {
  font-size: 20px;
}
.glyphicon-chevron-down {
  font-size: 20px;
}
.glyphicon-comment {
  font-size: 20px;
}
/**********************/
/* end of course page */
/**********************/